<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>PT applications</title>
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  <header class="header">
      <a href="/" class="logo">
        <img src="/static/img/logo.png" alt="Logo">
      </a>
  </header>
  <main class="main">
    <div class="container">
      <nav class="main-nav">
        <ul class="main-nav-items">
          <li class="main-nav-item">Приложения</li>
        </ul>
      </nav>
      <div class="applications">
        <h1 class="applications-title">Приложения</h1>
        <div class="application-cards">
          <div class="application-card joan-card">
            <div class="application-card-cover">
              <div class="application-card-cover-text">Joint Analysis</div>
            </div>
            <div class="application-card-content">
              <div class="application-card-info">
                <div class="application-card-title">Joint Analysis (JoAn)</div>
                <div class="application-card-description">
                  This is a program that allows you to calculate the distribution of forces and stresses in metal plates connected using fasteners (bolts, rivets). 
                </div>
              </div>
              <div class="application-card-action">
                <a href="/joan" class="button">Открыть</a>
              </div>
            </div>
          </div>

          <div class="application-card lug-card">
            <div class="application-card-cover">
              <div class="application-card-cover-text">Lug Strength</div>
            </div>
            <div class="application-card-content">
              <div class="application-card-info">
                <div class="application-card-title">Lug Strength</div>
                <div class="application-card-description">
                  This tool presents static strength analysis procedures for uniformly loaded lugs, subjected to axial, transverse, or oblique loading.
                </div>
              </div>
              <div class="application-card-action">
                <a href="#" class="button">Открыть</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer"></footer>
</body>
</html>